body {
  font-feature-settings: "palt";
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--color);
}

li {
  list-style: none;
}

:root {
  --color: #333;
  --color-inverse: #f6faf5;
  --header-height: 3.75rem;
  --breackpoint-md: 768px;
  --gap: 0.75rem;
  --padding-section: 6.75rem;
  --padding-page: 16.625rem;
  --title-en: "montserrat";
}

/*----------------------------------------------------
	フォント
----------------------------------------------------*/
html {
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 2.8571428571vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  html {
    font-size: 2.1333333333vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.1111111111vw;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 21.3333333333px;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  color: #333333;
  font-weight: 500;
}

.mont {
  font-family: "Montserrat", serif;
}

/*----------------------------------------------------
	レスポンシブ
----------------------------------------------------*/
@media screen and (min-width: 641px) {
  .sp {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sp-tab {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .pc-tab {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .tab {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .tab {
    display: none;
  }
}

/*----------------------------------------------------
  


  /*----------------------------------------------------
	コンテナ
----------------------------------------------------*/
.l-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
}
@media screen and (max-width: 640px) {
  .l-container {
    padding-left: 5.3333333333vw;
    padding-right: 5.3333333333vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .l-container {
    padding-left: 10.6666666667vw;
    padding-right: 10.6666666667vw;
  }
}
@media screen and (min-width: 1024px) {
  .l-container {
    padding-left: 13.8888888889vw;
    padding-right: 13.8888888889vw;
  }
}
@media screen and (min-width: 1921px) {
  .l-container {
    padding-left: 266.6666666667px;
    padding-right: 266.6666666667px;
  }
}

.layout-wrap {
  min-height: 100vh; /* ビューポート全体の高さを確保 */
  display: flex;
  flex-direction: column;
}

/*----------------------------------------------------
	nav
----------------------------------------------------*/
.nav-box1,
.nav-box2,
.nav-box3,
.nav-box4,
.nav-box5 {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}

.hamburger {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 100vmax;
  background-color: var(--color);
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger::before {
  transform: translateY(-10px);
}

.hamburger::after {
  transform: translateY(10px);
}

/* is-opened */
.hamburger[aria-expanded="true"] .hamburgerLine {
  opacity: 0;
}

.hamburger[aria-expanded="true"]::before {
  transform: rotate(30deg);
  background: var(--color-inverse);
}

.hamburger[aria-expanded="true"]::after {
  transform: rotate(-30deg);
  background: var(--color-inverse);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* is closed */
.nav[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* is opened */
.nav[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8em;
  width: 100%;
  height: 100%;
  background: #a3d8e5;
}

.nav-menu li a {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 8vmin;
  color: var(--color-inverse);
}

.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200vh;
}

.overlay {
  position: fixed; /* absoluteにするとbodyの高さによってグニョーンが伸びすぎてしまうので固定する */
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

/*----------------------------------------------------
	section title    *** about my ***
----------------------------------------------------*/
.ttl-container {
  width: 100%;
}

.section-ttl-beside,
.section-ttl-vertical {
  font-weight: 700;
  font-size: 8vmin;
}

.section-ttl-beside {
  position: absolute;
  top: 50px;
  right: calc(100% - 98%);
}

.section-ttl-vertical {
  position: absolute;
  top: 19vmin;
  right: calc(100% - 98%);
  writing-mode: vertical-lr;
}

/*----------------------------------------------------
	scroll
----------------------------------------------------*/
.scroll-container {
  width: 100%;
  height: 150px;
  padding: 7vmin 0;
  position: relative;
}

.scroll-wrapper {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
}

.scroll-txt span::before {
  display: block;
  content: "";
  width: 1px;
  height: 80px;
  background: var(--color);
  position: absolute;
  right: 3.4vmin;
  top: -10px;
}

.scroll-txt {
  writing-mode: vertical-rl;
  font-size: 2vmin;
}

/*----------------------------------------------------
	top
----------------------------------------------------*/
.main-view {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mv-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

picture {
  width: 100vw;
  height: 100vh;
}

img {
  object-fit: cover;
}

.mv-copy {
  position: absolute;
  top: calc(100% - 83%);
  left: calc(100% - 81%);
  padding: 20px;
}

.mv-site-ttl {
  position: absolute;
  bottom: 0;
  right: calc(100% - 98%);
  padding: 10px;
  z-index: 3;
  transform: translateY(0);
}

.mv-copy-txt {
  font-size: 4vmin;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.1px;
}

.mv-site-ttl-txt {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 5vmin;
  line-height: 1.5;
}

.mv-copy-txt span,
.mv-site-ttl-txt span {
  display: block;
}

.ttl-content {
  display: block;
  content: "";
  width: 11px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
}

.header-ttl-content {
  display: block;
  content: "";
  width: 11px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
  position: absolute;
  top: calc(0% - 12%);
  right: calc(100% - 0%);
  transform: rotate(210deg);
}

.footer-ttl-content {
  display: block;
  content: "";
  width: 11px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
  position: absolute;
  top: calc(0% - -3%);
  right: calc(100% - 9%);
  transform: rotate(210deg);
}

/*----------------------------------------------------
	works
----------------------------------------------------*/
.works-img-wrapper {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.works-side-ttl {
  margin-top: 50px;
}

.side-ttl-container {
  position: relative;
  top: 0;
  left: 0;
}

.side-ttl-wrapper {
  position: absolute;
  top: 4vmin;
  left: calc(100% - 99%);
}

.side-ttl-txt {
  font-weight: 700;
  font-size: 5vmin;
  writing-mode: vertical-lr;
}

.side-ttl-txt span {
  display: block;
  content: "";
  width: 0.6vmin;
  height: 5vmin;
  background: var(--color);
  transform: rotate(210deg);
  position: absolute;
  top: -7vmin;
  left: calc(100% - 50%);
  border: 5rem;
}

/* photos */
.works-photos {
  width: 100%;
}

.works-photos {
  position: relative;
  margin-top: calc(100% - 80%);
}

.photos-img-box {
  padding-top: 20vmin;
}

.photos-img-box ul {
  margin: 0 auto;
  transform: translateX(25%);
  width: 65%;
}

.photo-item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  width: 50%;
}

.photo-item img {
  width: 100%;
  box-shadow: 5px 5px 15px rgba(81, 81, 81, 0.45);
}

.works-btn-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.works-btn {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(100% - 70%);
  margin-left: calc(100% - 60%);
  margin-right: calc(100% - 60%);
  border: none;
  transition: .3s ease;
  border-radius: .5rem;
  background-color: rgb(246, 250, 245, .3);
}

.works-btn:hover {
  box-shadow:
   -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
   -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
   7px 7px 20px 0px rgba(81, 81, 81, 0.133),
   4px 4px 5px 0px rgba(81, 81, 81, 0.067);
   background-color: rgb(246, 250, 245, .1);

}

.btn-txt {
  font-size: 3vmin;
  font-weight: 200;
  text-align: center;
  color: var(--color);
  padding: 10px 20px;
}

#photo5 {
  transform: rotate(2.5deg) scale(1.1);
}

#photo4 {
  transform: rotate(354deg) translate(calc(100% - 119%), 31px);
}

#photo3 {
  transform: rotate(-8deg) translate(calc(100% - 85%), 56px);
}

#photo2 {
  transform: rotate(9deg) translate(calc(100% - 85%), -60px);
}

#photo1 {
  transform: rotate(-2.5deg) translate(calc(100% - 114%), -40px);
}

/* gallery */
.works-gallery-container {
  width: 100%;
  position: relative;
  z-index: -1;
}

.works-gallery-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.25;
  margin-top: calc(100% - 90%);
  margin-bottom: calc(100% - 70%);
}

/* skills */
.skills {
}

.skills-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.skill-card {
  width: 85%;
  max-width: 550px;
  margin: 25px 0px;
}

.card-wrap::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(246, 250, 245, .2);
  position: absolute;
  top: 0;
  left: 0;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .3s ease;
}

.skill-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.skill-card-txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  gap: 40px;
  position: relative;
  background-color: transparent;
  opacity: 0;
}

.card-wrap::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  box-shadow:
  -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
  -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
  7px 7px 20px 0px rgba(81, 81, 81, 0.133),
  4px 4px 5px 0px rgba(81, 81, 81, 0.067);
  background-color: rgb(246, 250, 245, .1);
  opacity: 0;
}

.card-ttl {
  display: block;
  font-size: 4vmin;
  text-align: center;
}

.card-txt {
  display: block;
  font-size: 2vmin;
  width: 80%;
  line-height: 1.65;
  font-weight: 200;
}

.skill-img, .skill-card-txt-wrap {
  transition: opacity 0.2s ease, visibility 0.5s ease;
}

.skill-card-txt-wrap {
  opacity: 0;
  visibility: hidden;
}

.skill-card-txt-wrap.open-animation {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  color: var(--color-inverse);
  background-color: #a3d8e5;
  border: 1px solid var(--color-inverse);
  border-radius: 5rem;
  width: 5vmin;
  height: 3vmin;
}

.skill-img:hover,
.close-btn:hover {
  cursor: pointer;
}



/********************************


.creative-cards{
  padding: 120px 0;
  position: relative;
}
.creative-cards .container {
  max-width: 1320px;
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}
.creative-cards .container .row{
  display: flex;
  flex-wrap: wrap;
}
.creative-cards .container .row .card-column {
  flex: 0 0 auto;
  width: 33.33333333%;
  text-align: center;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.card-details {
  width: 80%;
  margin: auto;
  position: relative;
  transition: .3s ease-in-out;
}
.card-details:before {
  content: "";
  width: 190px;
  height: 380px;
  background: #f7f6f2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(-20deg, 0deg);
  z-index: -1;
  transition: .3s ease-in-out;
}
.card-details:hover:before{
  background-color: #fffab3;
}
.card-icons {
  width: 140px;
  height: 150px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icons:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  width: 100%;
  height: 100%;
  transform: skew(-20deg, 0deg);
  background: #fff;
  border-color: #ffee02;
  transition: .3s ease-in-out;
}
.card-details:hover .card-icons:before{
  background-color: #ffee02;
}
.card-icons img{
  position: relative;
  width: 70px;
  height: 70px;
}
.card-details h3{
  margin-bottom: 15px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
}
.card-details h3 a{
color: #000;
text-decoration: none;
}
.card-details p{
  font-size: 16px;
  line-height: 30px;
  color: #444;
  font-weight: 400;
  margin-bottom: 30px;
}
.read-more-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 100%;
  margin: auto;
  background: #fff;
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  border-color: #ffee02;
  transition: .3s ease-in-out;
  text-decoration: none;
}
.read-more-btn i{
  color: #000;
  font-size: 12px;
}
.card-details:hover .read-more-btn{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

*/

