* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-feature-settings: "palt";
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color);
}

li {
  list-style: none;
}

img {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color: #333;
  --color-inverse: #f6faf5;
  --accent-color: #a3d8e5;
  --header-height: 3.75rem;
  --breackpoint-md: 768px;
  --gap: 0.75rem;
  --padding-section: 6.75rem;
  --padding-page: 16.625rem;
  --title-en: "montserrat";
  --shadow: 5px 5px 15px rgba(81, 81, 81, 0.45);
}

/*----------------------------------------------------
	フォント
----------------------------------------------------*/
html {
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 2.8571428571vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  html {
    font-size: 2.1333333333vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.1111111111vw;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 21.3333333333px;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  color: #333333;
  font-weight: 500;
}

.mont {
  font-family: "Montserrat", serif;
}

.shadow {
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(81, 81, 81, 0.133),
    4px 4px 5px 0px rgba(81, 81, 81, 0.067);
  background-color: rgb(246, 250, 245, 0.1);
}

/*----------------------------------------------------
	レスポンシブ
----------------------------------------------------*/
@media screen and (min-width: 641px) {
  .sp {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sp-tab {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .pc-tab {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .tab {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .tab {
    display: none;
  }
}

/*----------------------------------------------------
  


  /*----------------------------------------------------
	コンテナ
----------------------------------------------------*/
.l-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
}
@media screen and (max-width: 640px) {
  .l-container {
    padding-left: 5.3333333333vw;
    padding-right: 5.3333333333vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .l-container {
    padding-left: 10.6666666667vw;
    padding-right: 10.6666666667vw;
  }
}
@media screen and (min-width: 1024px) {
  .l-container {
    padding-left: 13.8888888889vw;
    padding-right: 13.8888888889vw;
  }
}
@media screen and (min-width: 1921px) {
  .l-container {
    padding-left: 266.6666666667px;
    padding-right: 266.6666666667px;
  }
}

.layout-wrap {
  min-height: 100vh; /* ビューポート全体の高さを確保 */
  display: flex;
  flex-direction: column;
}

.section-top-img {
  width: 94%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-top-img img {
  width: 100% !important;
  height: auto; /* 画像のアスペクト比を維持 */
  object-fit: cover;
}
/*----------------------------------------------------
	nav
----------------------------------------------------*/
.nav-box1,
.nav-box2,
.nav-box3,
.nav-box4,
.nav-box5 {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}

.hamburger {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  display: block;
  width: 60%;
  height: 4px;
  border-radius: 100vmax;
  background-color: var(--color);
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger::before {
  transform: translateY(-10px);
}

.hamburger::after {
  transform: translateY(10px);
}

/* is-opened */
.hamburger[aria-expanded="true"] .hamburgerLine {
  opacity: 0;
}

.hamburger[aria-expanded="true"]::before {
  transform: rotate(30deg);
  background: var(--color-inverse);
}

.hamburger[aria-expanded="true"]::after {
  transform: rotate(-30deg);
  background: var(--color-inverse);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* is closed */
.nav[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* is opened */
.nav[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8em;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
}

.nav-menu li a {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 8vmin;
  color: var(--color-inverse);
}

.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200vh;
}

.overlay {
  position: fixed; /* absoluteにするとbodyの高さによってグニョーンが伸びすぎてしまうので固定する */
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

svg.overlay {
  width: 100%;
  height: 100vh; /* ビューポートの高さに調整 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

/* マウスストーカー */
#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: rgba(163, 216, 229, 0.8);
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  z-index: 999;
}

#mouse-stalker.is_active {
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
  transition: 0.4s;
  background: rgba(237, 255, 164, 0.8);
}

#mouse-stalker.point-mouse-stalker {
  width: 80px;
  height: 80px;
  background: rgba(163, 216, 229, 0.8);
  animation: pump 3s ease-in-out infinite;
  transform-origin: center;
}

#mouse-stalker.point-mouse-stalker::before {
  display: block;
  content: "Click";
  position: absolute;
  top: 25%;
  left: 20%;
  color: var(--color);
  font-size: 15px;
  font-family: Montserrat;
}

@keyframes pump {
  0% {
    transform: scale(1);
    background: rgba(163, 216, 229, 0.8); /* 最初の背景色 */
  }
  15% {
    transform: scale(1.1);
    background: rgba(163, 216, 229, 0.8);
  }
  30% {
    transform: scale(1);
    background: rgba(163, 216, 229, 0.8); /* 元の背景色に戻る */
  }
  45% {
    transform: scale(1.1);
    background: rgba(163, 216, 229, 0.8);
  }
  60% {
    transform: scale(1);
    background: rgba(163, 216, 229, 0.8);
  }
  75% {
    transform: scale(1.1);
    background: rgba(163, 216, 229, 0.8);
  }
  90% {
    transform: scale(1);
    background: rgba(163, 216, 229, 0.8);
  }
  100% {
    transform: scale(1.1);
    background: rgba(163, 216, 229, 0.8); /* 最終的に元の背景色に戻る */
  }
}

@media screen and (max-width: 1100px) and (min-width: 767px) {
#mouse-stalker.point-mouse-stalker::before {
  content: "TAP";
}
}


@media screen and (max-width: 767px) {
  #mouse-stalker {
    display: none;
  }
}

/*----------------------------------------------------
	section title    *** about my ***
----------------------------------------------------*/
.ttl-container {
  width: 100%;
}

.section-ttl-beside,
.section-ttl-vertical {
  font-weight: 700;
  font-size: 8vmin;
}

.section-ttl-beside {
  position: absolute;
  top: calc(100% - 95%);
  right: calc(100% - 92%);
}

.section-ttl-vertical {
  position: absolute;
  top: calc((100% - 84%));
  right: calc(100% - 98%);
  writing-mode: vertical-lr;
}

.works-ttl-beside,
.works-ttl-vertical {
  font-weight: 400;
  font-size: 2.5vmin;
  opacity: 0.8;
}

.works-ttl-beside {
  position: absolute;
  top: calc(100% - 95%);
  right: calc(100% - 97.5%);
}

.works-ttl-vertical {
  position: absolute;
  top: calc((100% - 92%));
  right: calc(100% - 98%);
  writing-mode: vertical-lr;
}

/*----------------------------------------------------
	scroll
----------------------------------------------------*/
.scroll-container {
  width: 100%;
  height: 150px;
  padding: 7vmin 0;
  position: relative;
}

.scroll-wrapper {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
}

.scroll-txt span::before {
  display: block;
  content: "";
  width: 0.5px;
  height: 80px;
  background: var(--color);
  position: absolute;
  right: 3.4vmin;
  top: -10px;
  animation: scroll-down-line 2.3s infinite;
}

.scroll-txt {
  writing-mode: vertical-rl;
  font-size: 2vmin;
}

@keyframes scroll-down-line {
  0% {
    height: 0; /* スタート時の高さは0 */
    top: -30px;
  }
  50% {
    height: 40px; /* 途中で高さが増えてラインが伸びる */
    top: 0; /* まだ位置は変わらない */
  }
  80% {
    height: 30px; /* 高さは維持 */
    top: 20px; /* ラインが下に抜けていく */
  }
  90% {
    height: 10px; /* 高さは維持 */
    top: 40px; /* ラインが下に抜けていく */
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .scroll-txt {
    font-size: 12px;
  }
}

/*----------------------------------------------------
	footer
----------------------------------------------------*/
.footer {
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-container {
  position: relative;
}

.footer-wrap {
}

/* left */
.footer-left {
  position: absolute;
  top: 50%;
  left: 10%;
}

.footer-ttl {
  position: absolute;
  transform: translateY(calc(100% - 115%));
  left: calc(100% - 90%);
}

.footer-site-ttl-txt {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 5vmin;
  line-height: 1.5;
}

.footer-site-ttl-txt span {
  display: block;
}

.footer-ttl-content {
  display: block;
  content: "";
  width: 6px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
  position: absolute;
  top: calc(0% - 12%);
  right: calc(100% - -5%);
  transform: rotate(210deg);
}

/* right */
.footer-right {
  position: absolute;
  top: 65%;
  right: calc(100% - 90%);
}

.footer-nav {
  padding-right: 3vmin;
}

.footer-right-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vmin;
  font-size: 2.5vmin;
}

.copyright {
  position: absolute;
  top: calc(0% - 2%);
  right: calc(100% - 153%);
  writing-mode: vertical-rl;
  width: 100%;
}

.copyright p {
  font-size: 1.5vmin;
  text-align: center;
  font-weight: 400;
}

.copyright p span {
  display: block;
}

/* center */
.footer-center {
  width: 30%;
  max-width: 500px;
}

.footer-center-img {
  position: absolute;
  left: calc(100% - 59%);
  transform: translateY(calc(100% - -60%));
  z-index: -1;
}

.footer-center-img img {
  width: 70%;
}

@media screen and (max-width: 767px) {
  /* right */
  .footer-nav {
    padding-right: 18px;
  }

  .footer-nav-list {
    font-size: 18px;
  }

  .copyright {
    top: calc(0% - 25%);
    right: calc(100% - 136%);
  }

  .copyright p {
    font-size: 10px;
  }

  /* center */
  .footer-center-img img {
    width: 50%;
  }
}

/*＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
end common
＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/

/*----------------------------------------------------
	top
----------------------------------------------------*/
#main {
  width: 100%;
}

.main-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.mv-img-wrapper {
  overflow: hidden;
}

picture {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.mv-img img {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  object-fit: cover;
}

.mv-copy {
  position: absolute;
  top: 20%; /* 元々calc(100% - 79%)だったのを調整 */
  left: 15%;
  padding: 20px;
}

.mv-site-ttl {
  position: absolute;
  bottom: 5%; /* 元々calc(100% - 94%)だったのを調整 */
  right: 2%;
  padding: 10px;
  z-index: 3;
}

.mv-copy-txt {
  font-size: 4vmin;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.1px;
}

.mv-site-ttl-txt {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 5vmin;
  line-height: 1.5;
}

.mv-copy-txt span,
.mv-site-ttl-txt span {
  display: block;
}

.ttl-content {
  display: block;
  content: "";
  width: 7px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
}

.header-ttl-content {
  display: block;
  content: "";
  width: 7px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
  position: absolute;
  top: calc(0% - 12%);
  right: calc(100% - 0%);
  transform: rotate(210deg);
}

.mv-link-area {
  position: absolute;
  display: block;
  width: 10%;
  height: 10%;
}

.mv-link-area a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 593%;
  left: 572%;
  z-index: 9999;
}

/*----------------------------------------------------
	works
----------------------------------------------------*/
.works-img-wrapper {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.works-side-ttl {
  margin-top: 50px;
}

.side-ttl-container {
  position: relative;
  top: 0;
  left: 0;
}

.side-ttl-wrapper {
  position: absolute;
  top: 10vmin;
  left: calc(100% - 97%);
}

.side-ttl-txt {
  font-weight: 700;
  font-size: 3.8vmin;
  writing-mode: vertical-lr;
}

.side-ttl-txt span {
  display: block;
  content: "";
  width: 0.6vmin;
  height: 5vmin;
  background: var(--color);
  transform: rotate(210deg);
  position: absolute;
  top: -7vmin;
  left: calc(100% - 50%);
  border: 5rem;
}

/* photos */
.works-photos {
  width: 100%;
}

.works-photos {
  position: relative;
  margin-top: calc(100% - 80%);
}

.photos-img-box {
  padding-top: 20vmin;
}

.photos-img-box ul {
  margin: 0 auto;
  transform: translateX(25%);
  width: 65%;
}

.photo-item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  width: 60%;
  border-radius: 6px;
  border: 6px solid var(--color-inverse);
  background-color: var(--color-inverse);
  box-shadow: var(--shadow);
}

.photo-item img {
  width: 100%;
}

.works-btn-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.works-btn {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(100% - 60%);
  margin-left: calc(100% - 70%);
  margin-right: calc(100% - 70%);
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(246, 250, 245, 0.3);
  color: var(--color);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: rgba(246, 250, 245, 0.741);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: 5.8s ease-in-out;
}


.works-btn:hover {
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(81, 81, 81, 0.133),
    4px 4px 5px 0px rgba(81, 81, 81, 0.067);
    background-color: rgb(246, 250, 245, 0.1);
    color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-txt {
  font-size: 3vmin;
  font-weight: 200;
  text-align: center;
  color: var(--color);
  padding: 10px 15px;
  margin: 0 auto;
}

@keyframes fadeInOnly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.photo-item {
  opacity: 0; /* 初期状態で非表示 */
}

/* 既存のtransform設定 */
#photo5 {
  transform: rotate(2.5deg) scale(1.1);
}

#photo4 {
  transform: rotate(354deg) translate(calc(100% - 119%), 31px);
}

#photo3 {
  transform: rotate(-8deg) translate(calc(100% - 85%), 56px);
}

#photo2 {
  transform: rotate(9deg) translate(calc(100% - 85%), -60px);
}

#photo1 {
  transform: rotate(-2.5deg) translate(calc(100% - 114%), -40px);
}

/***** sp photo *****/
@media screen and (max-width: 767px) {
  .works-side-ttl {
    margin-top: 20%;
  }

  .photos-img-box ul {
    width: 75%;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translateX(0);
  }

  .photo-item {
    border: 2px solid var(--color-inverse);
  }

  .works-btn-wrap {
    position: relative;
    top: 80px;
    left: 0;
  }

  .works-btn {
    width: 50%;
    margin-left: calc(100% - 75%);
    margin-right: calc(100% - 75%);
  }

  .btn-txt {
    font-size: 18px;
    font-weight: 400;
    padding: 30px 10px;
  }
}

/* photo back */
.works-slider-container {
  width: 100%;
  position: relative;
  z-index: -1;
}

.works-slider-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.25;
  margin-top: calc(100% - 90%);
  margin-bottom: calc(100% - 70%);
}

/* skills */
.skills {
}

.skills-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: start;
  align-items: start;
  justify-items: center;
  margin: calc(100% - 85%) auto;
  padding: 30px;
}

.skill-card {
  width: 90%;
  max-width: 550px;
  margin: 50px 0px;
}

.card-wrap::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(246, 250, 245, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s ease;
}

.skill-img {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.skill-card-txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  gap: 40px;
  position: relative;
  background-color: transparent;
  opacity: 0;
  width: 100%;
}

.card-wrap::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(81, 81, 81, 0.133),
    4px 4px 5px 0px rgba(81, 81, 81, 0.067);
  background-color: rgb(246, 250, 245, 0.1);
  opacity: 0;
}

.card-ttl {
  display: block;
  font-size: 4vmin;
  text-align: center;
}

.card-txt {
  display: block;
  font-size: 2vmin;
  width: 80%;
  line-height: 1.65;
  font-weight: 200;
}

.skill-img,
.skill-card-txt-wrap {
  transition: opacity 0.2s ease, visibility 0.5s ease;
}

.skill-card-txt-wrap {
  opacity: 0;
  visibility: hidden;
}

.skill-card-txt-wrap.open-animation {
  opacity: 1;
  visibility: visible;
}


@keyframes anime-txt {
  0% {
    transform: translateX(100%); /* 右外側から開始 */
    opacity: 0; /* 初めは透明 */
  }
  950% {
    opacity: 1; /* 少しずつ表示 */
  }
  100% {
    transform: translateX(-100%); /* 左外側まで移動 */
    opacity: 1; /* 最後は完全に表示 */
  }
}

/***** sp skills *****/
@media screen and (max-width: 767px) {
  .skills {
    padding-top: 30%;
  }

  .skills-wrap {
    display: flex;
    margin: calc(100% - 70%) 0;
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: 80%;
  }

  .card-ttl {
    font-size: 35px;
  }

  .card-txt {
    font-size: 18px;
    font-weight: 400;
  }

  .close-btn {
    width: 15vmin;
    height: 9vmin;
  }
}

/*----------------------------------------------------
  prof
----------------------------------------------------*/
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(100% - 75%);
  width: 100%;
  /* height: 100vh;  親要素の高さを100vhからautoに変更 */
  height: auto;
}

#book {
  position: relative;
  width: 94%;
  height: auto; /* 自動調整 */
  cursor: pointer;
}

.profile-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10% 20px;
  box-shadow: 7px 7px 20px rgba(81, 81, 81, 0.133),
    -4px -4px 5px rgba(255, 255, 255, 0.6), 7px 7px 20px rgba(81, 81, 81, 0.133),
    4px 4px 5px rgba(81, 81, 81, 0.067);
  background-color: rgba(246, 250, 245, 0.1);
  position: absolute;
  width: 100%;
  height: 100%; /* 各ページの高さを100%に */
  top: 0;
  left: 0;
  opacity: 0; /* 初期状態で非表示 */
  backface-visibility: hidden;
  transform-origin: left center; /* 左側を基準に回転 */
  transition: transform 1s cubic-bezier(0.5, 0, 0.5, 1), opacity 1s ease; /* イーズを追加 */
}

.profile-right,
.profile-left {
  width: 45%;
}

.prof-txt {
  font-size: 2vmin;
  line-height: 1.65;
  padding: 10px;
}

.prof-txt span {
  display: block;
}

#prof1,
#prof2,
#prof3,
#prof4,
#prof5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 高さを設定 */
}

#prof1.active,
#prof2.active,
#prof3.active,
#prof4.active,
#prof5.active {
  opacity: 1;
  z-index: 1; /* 現在のページを前面に表示 */
  transform: rotateY(0); /* 表示するページは回転なし */
  position: relative;
  justify-content: space-around;
  align-items: center;
}

#prof1.exiting,
#prof2.exiting,
#prof3.exiting,
#prof4.exiting,
#prof5.exiting {
  transform: rotateY(-90deg); /* 左軸で回転して非表示 */
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.prof-txt {
  font-size: 2vmin;
  line-height: 1.65;
  padding: 10px;
  opacity: 0; /* 初期状態で非表示 */
  transform: translateY(-20px); /* 下からの移動 */
  transition: opacity 0.8s ease, transform 0.8s ease; /* フェードインのトランジション */
}

.active .prof-txt {
  opacity: 1; /* 表示時に不透明 */
  transform: translateY(0); /* 元の位置に戻る */
}

/***** sp prof *****/
@media screen and (max-width: 767px) {
  #book {
    width: 97%;
  }

  .profile-wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .profile-right {
    width: 80%;
  }

  .profile-left {
    width: 70%;
  }

  .prof-txt {
    font-size: 16px;
  }
}

/*----------------------------------------------------
	favorite
----------------------------------------------------*/
.favorite {
  position: relative;
  margin: calc(100% - 150%) auto calc(100% - 60%) auto;
  z-index: -1;
  padding-top: 50px;
}

#stack2 {
  position: relative;
  top: 60%;
  left: 15%;
  margin-top: calc(100% - 10%);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
}

.favorite-left,
.favorite-right {
  width: 40%;
  opacity: 0;
  transform: translateX(-100px); /* 左から隠す */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.favorite-left img {
  width: 80%;
}

.favorite-right {
  transform: translateX(100px); /* 右から隠す */
}

/* フェードイン用のクラス */
.animate-left {
  opacity: 1;
  transform: translateX(0); /* 元の位置に戻る */
}

.animate-right {
  opacity: 1;
  transform: translateX(0); /* 元の位置に戻る */
}

.favorite-txt {
  font-size: 2vmin;
  line-height: 1.6;
}

.favorite-txt span {
  display: block;
}

.favorite-txt + .favorite-txt {
  margin-top: 15px;
}

/***** sp favorite *****/
@media screen and (max-width: 767px) {
  #stack2 {
    left: 0%;
    width: 100%;
    gap: 20px;
    overflow: hidden;
  }

  .favorite-wrap {
    display: flex;
    justify-content: center; /* 要素を中央揃えにする */
    align-items: center;
    gap: 15px;
    padding: 30px 0;
  }

  .favorite-left,
  .favorite-right {
    width: 40%;
    opacity: 0;
    transform: translateX(0); /* 初期位置をリセットしておく */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .favorite-left img {
    width: 80%;
  }

  .favorite-right {
    transform: translateX(0); /* 初期位置をリセットしておく */
  }

  /* フェードイン用のクラス */
  .animate-left {
    opacity: 1;
    transform: translateX(0); /* 左右のずれをなくし中央に揃える */
  }

  .animate-right {
    opacity: 1;
    transform: translateX(0); /* 左右のずれをなくし中央に揃える */
  }

  .favorite-txt {
    font-size: 16px;
  }
}

/*----------------------------------------------------
	contact
----------------------------------------------------*/
.contact {
  margin: 0 auto;
  padding: 0 30px;
  width: 70%;
}

.contact-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.contact-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
}

.contact-txt {
  padding: 20px 10px;
}

.contact-txt p {
  text-align: left;
  font-size: 2vmin;
  line-height: 1.65;
}

.contact-txt p span {
  display: block;
}

/* フォーム */
.contact-form {
  width: 100%;
  padding-bottom: 120px;
  margin: 0 auto;
}

.contact-form-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-form-label,
.contact-form-input {
  padding: 10px;
}

.contact-form-label {
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 1.6vmin;
}

.contact-form-input {
  width: 80%;
  font-size: 1.25vmin;
  border: 1px solid var(--color-inverse);
  background-color: var(--color-inverse);
  border-radius: 1em;
}

.contact-form-input:focus-visible {
  outline: #e6f5b2 auto 1px;
}

.contact-form-required {
  font-size: 1.1vw;
  color: var(--color);
  background-color: var(--color-inverse);
  border: 1px solid var(--color);
  border-radius: 5px;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}

textarea.contact-form-input {
  height: 160px;
}

.contact-form-submit {
  text-align: center;
  width: 100%;
}

.button {
  height: 100%;
}

.contact-form-submit button {
  font-size: 2vmin;
  font-weight: 500;
  color: #fff;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 2vw;
  padding: 2vmin 8vmin;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form-submit button:hover {
  opacity: 0.6;
  background-color: transparent;
  color: var(--color);
}

/***** sp contact *****/
@media screen and (max-width: 767px) {
  .contact {
    width: 85%;
  }

  .contact-wrap {
    align-items: center;
  }

  .contact-txt p,
  .contact-form-label {
    font-size: 16px;
  }

  .contact-form-input {
    width: 90%;
    font-size: 16px;
    padding: 10px 15px;
  }

  .contact-form-submit button {
    font-size: 16px;
    border-radius: 2vw;
    padding: 15px 80px;
    transition: 0.4s;
    cursor: pointer;
  }
}

/*----------------------------------------------------
	gallery
----------------------------------------------------*/
.gallery {
  padding-top: calc(100% - 90%);
  padding-bottom: calc(100% - 60%);
}

.article-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 13% 0;
}

.gallery-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(40% - 4.6%);
  height: 24vw;
  margin: 1.8%;
  perspective: 1600px;
  cursor: pointer;
  box-sizing: border-box;
}

.gallery-block a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.gallery-item-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgba(81, 81, 81, 0.005);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  transform-origin: center center;
}

.gallery-item-wrapper::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.2s ease-in;
  box-shadow: 0 8px 38px rgba(42, 42, 42, 0.6);
}

.gallery-item-wrapper:hover::before {
  box-shadow: 0 14px 64px rgba(42, 42, 42, 0.5);
}

.gallery-img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.gallery-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.01);
}

.gallery-img .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.gallery-img .lighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.item-content {
  pointer-events: none;
  padding: 17% 1px 20px;
  color: var(--color);
  position: absolute;
  top: 88%;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.item-content h6 {
  font-size: 2vmin;
  font-weight: 500;
  color: var(--color);
  padding-top: 3vmin;
  margin-bottom: 1%;
  transform: translateZ(100px);
  padding: 10px 5px;
}

.item-content .tool {
  width: 100%;
  color: var(--color);
  padding-top: 1vmin;
  transform: translateZ(70px);
  padding: 10px 0;
  font-size: 2vmin;
}

/***** sp gallery *****/
@media screen and (max-width: 767px) {
  .article-wrap {
    display: flex;
    padding: 0 0 45vmin 0;
    flex-direction: column;
    align-items: center;
    gap: 45vmin;
  }

  .gallery-block {
    width: calc(57% - 4.6%);
    height: 45vmin;
    margin: 0;
  }

  .item-content h6,
  .item-content .tool {
    font-size: 16px;
  }

  .item-content {
    top: 45vmin;
  }
}

/*----------------------------------------------------
	works 個別ページ
----------------------------------------------------*/
.works-introduction {
  width: 80%;
  margin: 20vmin auto;
  padding-top: 30px;
}

.introduction-slider-img {
  position: relative;
  overflow: hidden; /* スライダーの枠外を隠す */
  width: 100%;
  height: 100%;
}

.slider-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding-bottom: calc(100% - 40%);
}

.slider-item {
  background-color: var(--color-inverse);
  border: 5x solid var(--color-inverse);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease; /* フェードアウトと位置変更を同時に */
}

.slider-item img {
}

.introduction-slider-txt {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  padding-top: 60px;
}

.production-period,
.tool,
.introduction-txt {
  font-size: 2vmin;
  margin-bottom: 1.5vmin;
}

.period-ttl,
.period-ttl {
  font-weight: bold;
  padding: 1vmin 0;
}

.period-txt,
.tool-txt {
  font-weight: 300;
  padding: 1vmin 0;
}

.slider-active {
  opacity: 1;
  transform: scale(1); /* 拡大しながらフェードイン */
  border: var(--color-inverse) solid 10px;
}

.slider-exit {
  opacity: 0;
  transform: translateX(-100%); /* 左にスライドしてフェードアウト */
  border: var(--color-inverse) solid 10px;
}

/* 全体画像 */
.works-big-picture {
  padding-bottom: 24vmin;
}

.big-picture-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.big-picture-item {
  width: 30%;
}

.big-picture-item img {
}
