* { margin: 0; padding: 0; box-sizing: border-box; }

html,body {
  font-feature-settings: "palt";
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color);
}

li {
  list-style: none;
}

img {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color: #333;
  --color-inverse: #f6faf5;
  --accent-color: #a3d8e5;
  --header-height: 3.75rem;
  --breackpoint-md: 768px;
  --gap: 0.75rem;
  --padding-section: 6.75rem;
  --padding-page: 16.625rem;
  --title-en: "montserrat";
  --shadow: 5px 5px 15px rgba(81, 81, 81, 0.45);
}

/*----------------------------------------------------
	フォント
----------------------------------------------------*/
html {
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 2.8571428571vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  html {
    font-size: 2.1333333333vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.1111111111vw;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 21.3333333333px;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  color: #333333;
  font-weight: 500;
}

.mont {
  font-family: "Montserrat", serif;
}

.shadow {
  box-shadow:
  -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
  -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
  7px 7px 20px 0px rgba(81, 81, 81, 0.133),
  4px 4px 5px 0px rgba(81, 81, 81, 0.067);
  background-color: rgb(246, 250, 245, .1);
}


/*----------------------------------------------------
	レスポンシブ
----------------------------------------------------*/
@media screen and (min-width: 641px) {
  .sp {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sp-tab {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .pc-tab {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .tab {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .tab {
    display: none;
  }
}

/*----------------------------------------------------
  


  /*----------------------------------------------------
	コンテナ
----------------------------------------------------*/
.l-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
}
@media screen and (max-width: 640px) {
  .l-container {
    padding-left: 5.3333333333vw;
    padding-right: 5.3333333333vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .l-container {
    padding-left: 10.6666666667vw;
    padding-right: 10.6666666667vw;
  }
}
@media screen and (min-width: 1024px) {
  .l-container {
    padding-left: 13.8888888889vw;
    padding-right: 13.8888888889vw;
  }
}
@media screen and (min-width: 1921px) {
  .l-container {
    padding-left: 266.6666666667px;
    padding-right: 266.6666666667px;
  }
}

.layout-wrap {
  min-height: 100vh; /* ビューポート全体の高さを確保 */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.section-top-img {
  width: 94%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-top-img img {
  width: 100% !important;
  height: auto; /* 画像のアスペクト比を維持 */
  object-fit: cover;
}
/*----------------------------------------------------
	nav
----------------------------------------------------*/
.nav-box1,
.nav-box2,
.nav-box3,
.nav-box4,
.nav-box5 {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}

.hamburger {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 100vmax;
  background-color: var(--color);
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger::before {
  transform: translateY(-10px);
}

.hamburger::after {
  transform: translateY(10px);
}

/* is-opened */
.hamburger[aria-expanded="true"] .hamburgerLine {
  opacity: 0;
}

.hamburger[aria-expanded="true"]::before {
  transform: rotate(30deg);
  background: var(--color-inverse);
}

.hamburger[aria-expanded="true"]::after {
  transform: rotate(-30deg);
  background: var(--color-inverse);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* is closed */
.nav[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* is opened */
.nav[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8em;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
}

.nav-menu li a {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 8vmin;
  color: var(--color-inverse);
}

.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200vh;
}

.overlay {
  position: fixed; /* absoluteにするとbodyの高さによってグニョーンが伸びすぎてしまうので固定する */
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

svg.overlay {
  width: 100vw;
  height: 100vh; /* ビューポートの高さに調整 */
  position: absolute;
  top: 0;
  left: 0;
}


/*----------------------------------------------------
	section title    *** about my ***
----------------------------------------------------*/
.ttl-container {
  width: 100%;
}

.section-ttl-beside,
.section-ttl-vertical {
  font-weight: 700;
  font-size: 8vmin;
}

.section-ttl-beside {
  position: absolute;
  top: calc(100% - 93%);
  right: calc(100% - 92%);
}

.section-ttl-vertical {
  position: absolute;
  top: calc((100% - 86%));
  right: calc(100% - 98.5%);
  writing-mode: vertical-lr;
}

/*----------------------------------------------------
	scroll
----------------------------------------------------*/
.scroll-container {
  width: 100%;
  height: 150px;
  padding: 7vmin 0;
  position: relative;
}

.scroll-wrapper {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
}

.scroll-txt span::before {
  display: block;
  content: "";
  width: 1px;
  height: 80px;
  background: var(--color);
  position: absolute;
  right: 3.4vmin;
  top: -10px;
}

.scroll-txt {
  writing-mode: vertical-rl;
  font-size: 2vmin;
}



/*----------------------------------------------------
	footer
----------------------------------------------------*/
.footer {
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-container {
  position: relative;
}

.footer-wrap {
}


/* left */
.footer-left {
  position: absolute;
  top: 50%;
  left: 10%;
}

.footer-ttl {
  position: absolute;
  transform: translateY(calc(100% - 115%));
  left: calc(100% - 90%);
}

.footer-site-ttl-txt {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 5vmin;
  line-height: 1.5;
}

.footer-site-ttl-txt span {
  display: block;
}



.footer-ttl-content {
  display: block;
  content: "";
  width: 6px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
  position: absolute;
  top: calc(0% - 12%);
  right: calc(100% - -5%);
  transform: rotate(210deg);
}

/* right */
.footer-right {
  position: absolute;
  top: 65%;
  right: calc(100% - 90%);
}

.footer-nav {
  padding-right: 3vmin;
}

.footer-right-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vmin;
  font-size: 2.5vmin;
}

.copyright {
  position: absolute;
  top: calc(0% - 2%);
  right: calc(100% - 153%);
  writing-mode: vertical-rl;
  width: 100%;
}

.copyright p {
  font-size: 1.5vmin;
  text-align: center;
  font-weight: 400;
}

.copyright p span {
  display: block;
}

/* center */
.footer-center {
  width: 30%;
  max-width: 500px;
}

.footer-center-img {
  position: absolute;
  left: calc(100% - 59%);
  transform: translateY(calc(100% - -60%));

}



.footer-center-img img {
  width: 70%;
}

/*＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
end common
＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/


/*----------------------------------------------------
	top
----------------------------------------------------*/
.main-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  overflow: hidden;
}

.mv-img-wrapper {
overflow: hidden;
}

picture {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.mv-img img{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  object-fit: cover;
}

.mv-copy {
  position: absolute;
  top: 20%; /* 元々calc(100% - 79%)だったのを調整 */
  left: 15%;
  padding: 20px;
}

.mv-site-ttl {
  position: absolute;
  bottom: 10%; /* 元々calc(100% - 94%)だったのを調整 */
  right: 2%;
  padding: 10px;
  z-index: 3;
}



.mv-copy-txt {
  font-size: 6vmin;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.1px;
}

.mv-site-ttl-txt {
  font-family: var(--title-en);
  font-weight: 600;
  font-size: 5vmin;
  line-height: 1.5;
}

.mv-copy-txt span,
.mv-site-ttl-txt span {
  display: block;
}

.ttl-content {
  display: block;
  content: "";
  width: 7px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
}

.header-ttl-content {
  display: block;
  content: "";
  width: 7px;
  height: 11vmin;
  background: var(--color);
  border-radius: 5rem;
  position: absolute;
  top: calc(0% - 12%);
  right: calc(100% - 0%);
  transform: rotate(210deg);
}


/*----------------------------------------------------
	works
----------------------------------------------------*/
.works-img-wrapper {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.works-side-ttl {
  margin-top: 50px;
}

.side-ttl-container {
  position: relative;
  top: 0;
  left: 0;
}

.side-ttl-wrapper {
  position: absolute;
  top: 4vmin;
  left: calc(100% - 97%);
}

.side-ttl-txt {
  font-weight: 700;
  font-size: 3.8vmin;
  writing-mode: vertical-lr;
}

.side-ttl-txt span {
  display: block;
  content: "";
  width: 0.6vmin;
  height: 5vmin;
  background: var(--color);
  transform: rotate(210deg);
  position: absolute;
  top: -7vmin;
  left: calc(100% - 50%);
  border: 5rem;
}

/* photos */
.works-photos {
  width: 100%;
}

.works-photos {
  position: relative;
  margin-top: calc(100% - 80%);
}

.photos-img-box {
  padding-top: 20vmin;
}

.photos-img-box ul {
  margin: 0 auto;
  transform: translateX(25%);
  width: 65%;
}

.photo-item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  width: 50%;
}

.photo-item img {
  width: 100%;
  box-shadow:var(--shadow);
}

.works-btn-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.works-btn {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(100% - 66%);
  margin-left: calc(100% - 60%);
  margin-right: calc(100% - 60%);
  border: none;
  transition: .3s ease;
  border-radius: .5rem;
  background-color: rgb(246, 250, 245, .3);
}

.works-btn:hover {
  box-shadow:
   -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
   -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
   7px 7px 20px 0px rgba(81, 81, 81, 0.133),
   4px 4px 5px 0px rgba(81, 81, 81, 0.067);
   background-color: rgb(246, 250, 245, .1);
}

.btn-txt {
  font-size: 3vmin;
  font-weight: 200;
  text-align: center;
  color: var(--color);
  padding: 10px 15px;
  margin: 0 auto;
}

#photo5 {
  transform: rotate(2.5deg) scale(1.1);
}

#photo4 {
  transform: rotate(354deg) translate(calc(100% - 119%), 31px);
}

#photo3 {
  transform: rotate(-8deg) translate(calc(100% - 85%), 56px);
}

#photo2 {
  transform: rotate(9deg) translate(calc(100% - 85%), -60px);
}

#photo1 {
  transform: rotate(-2.5deg) translate(calc(100% - 114%), -40px);
}

/* gallery */
.works-gallery-container {
  width: 100%;
  position: relative;
  z-index: -1;
}

.works-gallery-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.25;
  margin-top: calc(100% - 90%);
  margin-bottom: calc(100% - 70%);
}

/* skills */
.skills {
}

.skills-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: start;
  align-items: center;
  justify-items: end;
  margin-top: 50px;
}

.skill-card {
  width: 85%;
  max-width: 550px;
  margin: 25px 0px;
}

.card-wrap::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(246, 250, 245, .2);
  position: absolute;
  top: 0;
  left: 0;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .3s ease;
}

.skill-img {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.skill-card-txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  gap: 40px;
  position: relative;
  background-color: transparent;
  opacity: 0;
}

.card-wrap::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  box-shadow:
  -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
  -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
  7px 7px 20px 0px rgba(81, 81, 81, 0.133),
  4px 4px 5px 0px rgba(81, 81, 81, 0.067);
  background-color: rgb(246, 250, 245, .1);
  opacity: 0;
}

.card-ttl {
  display: block;
  font-size: 4vmin;
  text-align: center;
}

.card-txt {
  display: block;
  font-size: 2vmin;
  width: 80%;
  line-height: 1.65;
  font-weight: 200;
}

.skill-img, .skill-card-txt-wrap {
  transition: opacity 0.2s ease, visibility 0.5s ease;
}

.skill-card-txt-wrap {
  opacity: 0;
  visibility: hidden;
}

.skill-card-txt-wrap.open-animation {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  color: var(--color-inverse);
  background-color: var(--accent-color);
  border: 1px solid var(--color-inverse);
  border-radius: 5rem;
  width: 5vmin;
  height: 3vmin;
}

.skill-img:hover,
.close-btn:hover {
  cursor: pointer;
}


@keyframes anime-txt {
  0% {
    transform: translateX(100%); /* 右外側から開始 */
    opacity: 0; /* 初めは透明 */
  }
  950% {
    opacity: 1; /* 少しずつ表示 */
  }
  100% {
    transform: translateX(-100%); /* 左外側まで移動 */
    opacity: 1; /* 最後は完全に表示 */
  }
}

/*----------------------------------------------------
  prof
----------------------------------------------------*/
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(100% - 75%);
  width: 100%;
  /* height: 100vh;  親要素の高さを100vhからautoに変更 */
  height: auto; 
}

#book {
  position: relative;
  width: 94%;
  height: auto; /* 自動調整 */
  cursor: pointer;
}

.profile-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10% 20px;
  box-shadow: 7px 7px 20px rgba(81, 81, 81, 0.133), 
              -4px -4px 5px rgba(255, 255, 255, 0.6),
              7px 7px 20px rgba(81, 81, 81, 0.133),
              4px 4px 5px rgba(81, 81, 81, 0.067);
  background-color: rgba(246, 250, 245, 0.1);
  position: absolute;
  width: 100%;
  height: 100%; /* 各ページの高さを100%に */
  top: 0;
  left: 0;
  opacity: 0; /* 初期状態で非表示 */
  backface-visibility: hidden;
  transform-origin: left center; /* 左側を基準に回転 */
  transition: transform 1s ease, opacity 1s ease;
}

.profile-right,
.profile-left {
  width: 45%;
}

.prof-txt {
  font-size: 2vmin;
  line-height: 1.65;
  padding: 10px;
}

.prof-txt span {
  display: block;
}

#prof1,
#prof2,
#prof3,
#prof4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 高さを設定 */
}

#prof1.active,
#prof2.active,
#prof3.active,
#prof4.active {
  opacity: 1;
  z-index: 1; /* 現在のページを前面に表示 */
  transform: rotateY(0); /* 表示するページは回転なし */
  position: relative;
  justify-content: space-around;
  align-items: center;
}

#prof1.exiting,
#prof2.exiting,
#prof3.exiting,
#prof4.exiting {
  transform: rotateY(-90deg); /* 左軸で回転して非表示 */
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}









/*----------------------------------------------------
	favorite
----------------------------------------------------*/
.favorite {
  position: relative;
  margin: calc(100% - 150%) auto calc(100% - 60%) auto;  z-index: -1;
  padding-top: 50px;
}

#stack2 {
  position: relative;
  top: 60%;
  left: 15%;
  margin-top: calc(100% - 10%);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
}

.favorite-left,
.favorite-right {
  width: 40%;
}

.favorite-left img {
  width: 80%;
}

.favorite-txt {
  font-size: 2vmin;
  line-height: 1.6;
}

.favorite-txt span {
  display: block;
}

.favorite-txt + .favorite-txt {
  margin-top: 15px;
}

